<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <div class="logo">
      Epic Loots
    </div>
    <div class="menu">
      <a href="#">About</a>
      <a href="#">New Arrival</a>
      <a href="#">Categories</a>
      <a href="#" class="cart-link">Cart <div>5</div></a>
    </div>
  </header>
  <section class="content-areahome-page">

    <div class="top-section">
      <div class="product">


        <div class="circle">
          <img src="/img/products/alienware-51m.png">
        </div>
      </div>
    </div>

  </section>

  <section id="cart-popup" class="active">
    <div class="title">
      My Cart
    </div>
    <div class="cart-items">
      <div class="item">
      <img src="/img/products/alienware-51m.png">
      <div class="delete-btn">
        <div class="circle">X</div>
      </div>

      </div>
    </div>
    <div class="product-total">
      <div class="title">Total</div>
      <div class="title">X11</div>
    </div>
    <div class="price-total">
      <div class="title">Total</div>
      <div class="title">$3,000</div>
    </div>
    <div class="checkout">
      Checkout
    </div>


  </section>
  <div class="titles">
    <h3>Alienware</h3>
    <h1>51m</h1>
    <script src="js/dist/vendors~FirstComp.js"></script>
    <script src="js/dist/FirstComp.js"></script>
  </body>
  </html>
