.content-area.login_register-page{
  padding: 120px 0;
  .box-container{
    max-width: 700px;
    margin: 0 auto;
  }
  h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .login-grid{
    display: grid;
    &.login{
      grid-template-columns: 1fr 2px 1fr;
      grid-gap:20px;
    }
    &.register{
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .line{
      width: 2px;
      height: 100%;
      background: #e5e5e5;
    }
    form{
      display: flex;
      flex-direction: column;
      a{
        margin-bottom: 1rem;
        text-decoration: none;
        color: #0E94EE;
      }
      
    }
    .social-accounts{
      display: flex;
      flex-direction: column;
      a{
        background: rgba(191, 220, 222, 0.3);
        width: 100%;
        font-size: 1rem;
        padding: 10px;
        margin: 0 0 1rem;
        text-align: center;
        color: rgba(6, 9, 52, 0.54);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
          margin: 0 15px 0 0;
        }
      }
    }
  }
  .footer{
    margin:1rem auto;
    text-align: center;
    color: rgba(6, 9, 52, 0.54);
    a{
      text-decoration: none;
      color: #0E94EE;
    }
  }
  p{
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 300;
  }
}
