@layout('layouts/main')

@section('title')
Epic Loots | Top Rigs
@endsection

@section('content')
<section class="content-area home-page">

<div class="top-section">
  <div class="product">
    <div class="circle">
      <img src="/img/products/alienware-51m.png">
    </div>
  </div>
<div class="titles">
  <h3>Alienware</h3>
  <h1>51m</h1>
</div>
</div>
</section>
@endsection

@section('javascript')
<script>
console.log('Hey Guys.')
</script>
@endsection
